<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.wrestlingmanager">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WrestlingManager"
        tools:targetApi="31">
        <activity
            android:name=".StartDualMeetActivity"
            android:exported="false" />
        <activity
            android:name=".DualMeetSetupActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".DualMeetActivity"
            android:exported="false" />
        <activity
            android:name=".EditMatchActivity"
            android:exported="false" />
        <activity
            android:name=".AddMatchActivity"
            android:exported="false" />
        <activity
            android:name=".EditWrestlerActivity"
            android:exported="false" />
        <activity
            android:name=".ViewWrestlerActivity"
            android:exported="false" />
        <activity
            android:name=".ViewDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".AddWrestlerActivity"
            android:exported="false" />
        <activity
            android:name=".EventActivity"
            android:exported="false" />
        <activity
            android:name=".RosterActivity"
            android:exported="false" />
        <activity
            android:name=".MainMenuActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>